.new{
    margin-top: 20px;
width: 400px;
height: 500px;
}
.card card shadow p-3 mb-5 bg-white rounded{
    margin-top: 20px;
}
.card-body n{
    margin-top: 20px;
    width: 300px;
    height: 280px;
}